/* used to control the primary layout of the whole page */
html{
    min-height:100vh;
    scroll-behavior: smooth;
    background-color: lightgrey;
}
body {
  min-height: 100%;
  display:flex;
  flex-direction:column;  
  line-height: 1;
  font-family: 'Courier New', Courier, monospace;
}
/* include every immediate child of the body tag*/
body >* {
flex: 0 0 auto;
width: 100%;
}
/* "flex:1" sets how a flex item will grow or shrink to fit the space available in its flex container*/
main{
    flex: 1 auto;
}
/* bodu layout*/
body{
    height: 100 vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
ol, ul {
    list-style: none;
}
/* set up hidden elements to be hidden when needed*/
.hidden{
    display: none !important;
}

/*Button styling start*/
button{
font-size: large;
font-weight: bold;
box-shadow: 0 6px 12px -2px rgba(#2913f2, .15);
background: #8214ef;
border-radius: 4px;
padding: 10px;
color: beige;
margin: 6px;
cursor: pointer;
}

/* bring to focus, add shade and hover effect*/
button:hover{
    color: black;
    padding: 15px;
}
/*Button styling end*/
a {
    color: green;
}

header {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.5rem;
}

main {
    margin: auto;
    max-width: 625px;
    padding: 0.5rem;
}

main section h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

main section h2 {
font-size: 1.5rem;
margin: 1rem 0;
}

main section p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

main section hr {
    margin: 0.25rem 0;
}

main #start_page #start_quiz_btn {
position: relative;
left: 50%;
transform: translate(-50%);
}

main #questions_box {
    display: flex;
    flex-wrap: wrap;
}

main #questions_box span {
    background-color: #3d77b9;
    font-size: 12px;
    color: white;
    width: 20px;
    padding: 4px 0;
    text-align: center;
    transition: 0.25s;
}

main #questions_box span.correct {
    background-color: #6ab93d;
}

main #questions_box span.wrong {
    background-color: #b93d47;
}

main #questions_pg #answer_list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

main #questions_pg #answer_list button {
    margin: 0.1rem;
}